.skeleton-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  background: linear-gradient(to right, var(--surface-1) 0%, var(--surface-2) 33%, var(--surface-3) 66%, var(--surface-1) 100%);
  background-size: 200% 100%;
  z-index: 99;
  animation: skeleton 1.8s linear infinite;
}

@keyframes skeleton {
  0% { background-position: -100% 0; }
  100% { background-position: 100% 0; }
}

[ms-code-skeleton] {
  background-clip: padding-box;
}

.snackbar-container {
	transition-property: top,right,bottom,left,opacity !important;
  -webkit-transition-property: top,right,bottom,left,opacity !important;
  -ms-transition-property: top,right,bottom,left,opacity !important;
  background-color: var(--surface-2) !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  border-radius: 8px;
}

.snackbar-container p {
  color: var(--color-on-surface-1) !important;
}

.snackbar-container button {
  color: var(--inactive-accent-color) !important;
  background-color: transparent !important;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
