.skeleton-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  background: linear-gradient(to right, var(--surface-1) 0%, var(--surface-2) 33%, var(--surface-3) 66%, var(--surface-1) 100%);
  background-size: 200% 100%;
  z-index: 9999;
  animation: skeleton 1.8s linear infinite;
}

@keyframes skeleton {
  0% { background-position: -100% 0; }
  100% { background-position: 100% 0; }
}

[ms-code-skeleton] {
  background-clip: padding-box;
}

.toast {
  position: fixed;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.toast.launch {
  transform: translate(-50%, -80px);
  opacity: 1;
}

.toast.info {
  color: var(--active-accent-color, #00509a);
  background-color: var(--inactive-accent-color, #dce9f5);
}

.toast.info .toast__icon {
  background-color: #3498db;
}

.toast.success {
  color: #006e20;
  background-color: #dcf5e5;
}

.toast.success .toast__icon {
  background-color: #2ecc71;
}

.toast.warning {
  color: #a75900;
  background-color: #fcead7;
}

.toast.warning .toast__icon {
  background-color: #f39c12;
}

.toast.error {
  color: #950f00;
  background-color: #ffe4e0;
}

.toast.error .toast__icon {
  background-color: #e74c3c;
}

.toast__icon {
  color: currentcolor;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: currentcolor;
  margin: 10px;
}

.toast__button {
  display: inline-flex;
  padding: 10px 10px 10px 10px;
  margin-left: -5px;
  color: currentcolor;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.toast__button:hover {
  background-color: rgba(0,0,0,0.1);
}

.toast__button:active {
  background-color: rgba(0,0,0,0.05);
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  cursor: grabbing;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
